<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSGwM7_eWIrFM0aKaxoba5JZMr6FWmEMY</string>
	<key>GCM_SENDER_ID</key>
	<string>701828300616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nomadFlutterChallenge.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>threads-nomadcoder</string>
	<key>STORAGE_BUCKET</key>
	<string>threads-nomadcoder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701828300616:ios:1ff178c63045213a293d7d</string>
</dict>
</plist>